.form-group {
    display: flex;
    flex-direction: column;
}

.wrap-create-course {
    padding: 2rem;
    display: grid;
}


input {
    width: 40%;
}

select{
    width: 20%;     
}

.btn-success.disabled, .btn-success:disabled{
    width: 100px;
}

button {
    padding: 12px 25px;
    margin-left: 30px;
    background-color: #ddd;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
