<section class="wrap-create-course">
  <div class="form-group">
    <label for="usr">CourseName:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="CourseName">
   
  </div>
  <div class="form-group-right">
    <label for="pwd">Discreption</label>
    <input type="text" class="form-control" id="pwd" [(ngModel)]="Discreption">
  </div>
  <div class="form-group">
    <label for="pwd">Dureation</label>
    <input type="number" class="form-control" id="pwd"  [(ngModel)]="Dureation">
  </div>
  <div class="form-group-right">
    <label for="pwd">FromDate</label>
    <input type="date" class="form-control" id="pwd"  [(ngModel)]="FromDate">
    {{FromDate}}
  </div>
  <div class="form-group">
    <label for="pwd">ToDate</label>
    <input type="date" class="form-control" id="pwd"  [(ngModel)]="ToDate">
  </div>
  <div class="form-group-right">
    <label for="pwd">MaxEnroll</label>
    <input type="number" class="form-control" id="pwd"  [(ngModel)]="MaxEnroll">
  </div>
  <div class="form-group">
    <label for="pwd">Minium Enroll</label>
    <input type="number" class="form-control" id="pwd"  [(ngModel)]="MiniumEnroll">
  </div>
  <div class="form-group-right">
    <label for="pwd">LastDate To Enroll</label>
    <input type="date" class="form-control" id="pwd"  [(ngModel)]="LastDate">
  </div>
  <div class="form-group">
    <label for="pwd">Venue</label>
    <input type="text" class="form-control" id="pwd"  [(ngModel)]="Venue">
  </div>
  <div class="form-group-right">
  <label for="pwd">Trainer</label>
  <select (change)="filterForeCasts($event.target.value)">
    <option [value]="Trainer.Trainer_ID" *ngFor="let Trainer of Trainers">{{Trainer.Trainer_Name}}</option>
   
  </select>
  {{value}}
  
</div>
<label for="pwd">Upload Discreption</label>
<input type="file" class="btn"name="photo" ng2FileSelect [uploader]="uploader" />

<button type="button" class="btn btn-success btn-s" 
  (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload File
</button>
</section>
<div class="btn">
    <button (click)="SubmitCourses()"> Submit</button>
</div>
