<div *ngIf="!flag && !flag1">
  <section class="wrap-create-course">
    <div class="form-group">
      <label for="usr">CourseName:</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]="CourseName">
    </div>
    <div class="form-group">
      <label for="pwd">Discription</label>
      <input type="text area" class="form-control" id="pwd" [(ngModel)]="Discreption">
    </div>
    <div class="form-group">
      <label for="pwd">Duration</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="Dureation">
    </div>
    <div class="form-group">
      <label for="pwd">FromDate</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="FromDate">
    </div>
    <div class="form-group">
        <label for="pwd">FromTime</label>
        <ngb-timepicker [(ngModel)]="FromTime"></ngb-timepicker>  
      </div>
      <div class="form-group">
          <label for="pwd">ToTime</label>
          <ngb-timepicker [(ngModel)]="ToTime"></ngb-timepicker>      
        </div>
    <div class="form-group">
      <label for="pwd">ToDate</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="ToDate">
    </div>
  
    <div class="form-group">
      <label for="pwd">MaxEnroll</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="MaxEnroll">
    </div>
    <div class="form-group">
      <label for="pwd">Minimum Enroll</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="MiniumEnroll">
    </div>
    <div class="form-group">
      <label for="pwd">LastDate To Enroll</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="LastDate">
    </div>
    <div class="form-group">
      <label for="pwd">Venue</label>
      <input type="text" class="form-control" id="pwd" [(ngModel)]="Venue">
    </div>
    <div class="form-group">
      <label for="pwd">Trainer</label><br>
      <select (change)="filterForeCasts($event.target.value)">
        <option [value]="Trainer.Trainer_ID" *ngFor="let Trainer of Trainers">{{Trainer.Trainer_Name}}</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="pwd">Upload Discription</label>
      <input type="file"  name="photo" ng2FileSelect [uploader]="uploader" /><br>
      <button type="button"  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload File
      </button>
    </div>
  </section>
  <div class="btn1">
    <button class="btn btn-sm btn-primary btn-create" (click)="SubmitCourses()"> Submit</button>
     <button class="btn btn-sm btn-primary btn-create" (click)="flag=1">UpdateCourses</button>
     <button class="btn btn-sm btn-primary btn-create" (click)="flag1=1">DeleteCourses</button>
  </div>
</div>



<div class="wrap-Update-course" *ngIf="flag">
  Update Course
  <section class="wrap-create-course">
    <div class="form-group">
      <label for="pwd">Course</label><br>
      <select (change)="filterForeCasts1($event.target.value)">
        <option [value]="Course.Course_ID" *ngFor="let Course of Course">{{Course.Course_Name}}</option>
      </select>
      {{value}}
    </div>
    <div class="form-group">
      <label for="pwd">CourseName</label>
      <input type="text" class="form-control" id="pwd" [(ngModel)]="CourseName">
    </div>
    <div class="form-group">
      <label for="pwd">Discription</label>
      <input type="text" class="form-control" id="pwd" [(ngModel)]="Discreption">
    </div>
    <div class="form-group">
      <label for="pwd">Duration</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="Dureation">
    </div>
    <div class="form-group">
      <label for="pwd">FromDate</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="FromDate">
    </div>   
    <div class="form-group">
      <label for="pwd">ToDate</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="ToDate">
    </div>
    <div class="form-group">
        <label for="pwd">FromTime</label>
        <ngb-timepicker [(ngModel)]="FromTime"></ngb-timepicker>  
      </div>
      <div class="form-group">
          <label for="pwd">ToTime</label>
          <ngb-timepicker [(ngModel)]="ToTime"></ngb-timepicker>      
        </div>
    <div class="form-group">
      <label for="pwd">MaxEnroll</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="MaxEnroll">
    </div>
    <div class="form-group">
      <label for="pwd">Minimum Enroll</label>
      <input type="number" class="form-control" id="pwd" [(ngModel)]="MiniumEnroll">
    </div>
    <div class="form-group">
      <label for="pwd">LastDate To Enroll</label>
      <input type="date" class="form-control" id="pwd" [(ngModel)]="LastDate">
    </div>
    <div class="form-group">
      <label for="pwd">Venue</label>
      <input type="text" class="form-control" id="pwd" [(ngModel)]="Venue">
    </div>
    <div class="form-group">
      <label for="pwd">Trainer</label><br>
      <select (change)="filterForeCasts($event.target.value)">
        <option [value]="Trainer.Trainer_ID" *ngFor="let Trainer of Trainers">{{Trainer.Trainer_Name}}</option>

      </select>
      {{value}}

    </div>
  </section>
  <div class="btn">
      <button type="button" class="btn btn-sm btn-primary btn-create"(click)="UpdateCourses()">Submit</button>
     </div>
  <div class="btn">
     <button type="button" class="btn btn-sm btn-primary btn-create"(click)="flag=0">BACK</button>
  </div>
</div>

<div *ngIf='flag1'>
    <div class="form-group">
        <label for="pwd">Course</label><br>
        <select (change)="filterForeCasts1($event.target.value)">
          <option [value]="Course.Course_ID" *ngFor="let Course of Course">{{Course.Course_Name}}</option>
        </select>
        {{value}}
      </div>
      <button type="button" class="btn btn-sm btn-primary btn-create"(click)="DeleteCourses()">Submit</button>
      <button type="button" class="btn btn-sm btn-primary btn-create"(click)="flag1=0">BACK</button>
</div>