<!-- <button (click)="CreateCourses()">CreateCourses</button> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
  <div class="row">


    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title" style="color:rgba(80, 90, 150, 0.918)">Trainer Details</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create" (click)="CreateTrainers()">Create
                Trainers</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr align="center">
                <th align="center">Trainer Type</th>
                <th align="center">Trainer Name</th>
                <th align="center">Description</th>
                <th align="center">Created On</th>
                <th align='center'>Remove/Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data">
                <td align="center">{{ d.Trainer_Type ? 'Accionite' : 'Guest' }}</td>
                <td align="center">{{ d.Trainer_Name }}</td>
                <td align="center">{{ d.Description }}</td>
                <td align="center">{{ d.Created_On | date : "dd.MM.y" }}</td>
                <td>
                  <span class="table-remove">
                    <button type="button" class="btn btn-sm btn-primary btn-create" (click)="remove(d.Trainer_ID)">Remove</button>
                  </span>&nbsp;&nbsp;&nbsp;<i class="fas fa-edit" (click)="edit(d.Trainer_ID)" data-toggle="modal"
                    data-target="#myModal1"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
</div>
<div (click)="CloseDilog1()">

  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="align-items:center">Update Trainers</h4>
        </div>
        <div class="wrap-Update-course">
          <div> <h3> Update Trainers</h3></div>
          <section class="wrap-create-course">
            <div class="form-group">
              <label for="pwd">Trainer Name</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter Trainer Name" aria-label="Input group example"
                aria-describedby="btnGroupAddon" [(ngModel)]="TrainerName">
            </div>
            <div class="form-group">
              <label class="label" for="pwd">Description</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter The Description" aria-label="Input group example"
                aria-describedby="btnGroupAddon" [(ngModel)]="description">
            </div>
              <div class="form-group">
                <label class="label"  for="pwd">Trainer Type</label><br>
                <select [(ngModel)]="TrainerData" aria-describedby="btnGroupAddon">
                  <option *ngFor="let TrainerDetails of Trainer_Type" [ngValue]="TrainerDetails.value">{{TrainerDetails.name}}</option>
                </select>
              </div>
              <!-- <div class="form-group">
                  <label for="pwd">Trainer Type</label>
                  <input type="text" class="form-control" id="pwd" placeholder="Enter The Description" aria-label="Input group example"
                    aria-describedby="btnGroupAddon" [(ngModel)]="Trainer_Type">
                </div> -->
            </section>
          <div class="btn">
            <button type="button" class="btn btn-sm btn-primary btn-create" (click)="UpdateTrainers()">Submit</button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>

      </div>
    </div>
  </div>