<!-- <button (click)="CreateCourses()">CreateCourses</button> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
  <div class="row">


    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title" style="color:rgba(80, 90, 150, 0.918)">Trainer Details</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create" (click)="CreateTrainers()">Create Trainers</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr align="center">
                <th align="center">Trainer Type</th>
                <th align="center">Trainer Name</th>
                <th align="center">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data">
                <td align="center">{{ d.Trainer_Type }}</td>
                <td align="center">{{ d.Trainer_Name }}</td>
                <td align="center">{{ d.Description }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
</div>