<div *ngIf="!flag && !flag1">
    <section class="wrap-create-course">
      <div class="form-group">
        <label for="usr">Trainer Name</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="TrainerName" placeholder="Please enter the Name">
      </div>
      <div class="form-group">
        <label for="pwd">Description</label>
        <input type="text area" class="form-control" id="pwd" [(ngModel)]="Description" placeholder="Please enter the description">
      </div>
      <div class="form-group">
        <label for="pwd">Trainer Type</label><br>
        <select [(ngModel)]="TrainerType">
          <option *ngFor="let TrainerDetails of Trainer_Type" [ngValue]="TrainerDetails.value">{{TrainerDetails.name}}</option>
        </select>
      </div>
    </section>
  
    <div class="btn1">
      <button class="btn btn-sm btn-primary btn-create" (click)="AddTrainers()">Submit</button>
      <button class="btn btn-sm btn-primary btn-create" (click)="back()">Back</button>
    </div>
  </div>
  
  
  
 