.form-group {
    display: inline-block;
    width: 100%;
}

.wrap-create-course {
    padding: 2rem;
}
h2{
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;
    color: rgb(9, 9, 90);
    margin-left: 15px;
}

label{
    font-size: 15px;
    margin-left: 15px;
}

input {
    width: 60%;
    margin-left: 15px;
}

select{
    width: 60%;
    display: inline-block;
    padding: .4rem;  
    margin-left: 15px;   
}

.btn1{
    float:middle;
    margin-left: 40px;
}

button {
    padding: 12px 25px;
    margin-left: 30px;
    color: black;
    background-color: rgba(94, 60, 60, 0.281);
    border: coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
