<!-- <button (click)="CreateCourses()">CreateCourses</button> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container" style="font-family:'Times New Roman', Times, serif; width:100%; height: 100;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title" style="color:rgba(80, 90, 150, 0.918);font-weight:bold;">Course Details</h3>
            </div>
            <input [(ngModel)]="searchText" placeholder="&nbsp;&nbsp;Search Course">
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create" (click)="CreateCourses()">Create Courses</button>
            </div>
          </div>
        </div>
        <div class="panel-body" style="width:auto;">
          <table class="table table-striped table-bordered table-list" style="size:100%">
            <thead>
              <tr align="center">
                <th class="text-center" style="width:auto;">Course Name</th>
                <th class="text-center" style="width:auto;"> Duration(days)</th>
                <th class="text-center" style="width:auto;">From Date</th>
                <th class="text-center" style="width:auto;">To Date</th>
                <th class="text-center" style="width:auto;">Venue</th>
                <th class="text-center" style="width:auto;">Remove/Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data | filter : 'Course_Name' : searchText| paginate: { itemsPerPage: 6, currentPage: p };">
                <td align="center" (click)="events(d.Course_ID)" data-toggle="modal" data-target="#myModal">{{
                  d.Course_Name }}</td>
                <td align="center" (click)="events(d.Course_ID)" data-toggle="modal" data-target="#myModal">{{d.Duration}}</td>
                <td align="center" (click)="events(d.Course_ID)" data-toggle="modal" data-target="#myModal">{{d.FromDate
                  | date : "dd.MM.y"}}</td>
                <td align="center" (click)="events(d.Course_ID)" data-toggle="modal" data-target="#myModal">{{d.ToDate
                  | date : "dd.MM.y"}}</td>
                <td align="center" (click)="events(d.Course_ID)" data-toggle="modal" data-target="#myModal">{{d.Venue}}</td>
                <td>
                  <span class="table-remove">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i style ="color: red"class="fas fa-trash"(click)="remove(d.Course_ID)"></i> 
                  </span>&nbsp;&nbsp;&nbsp;<i style ="color:blue"class="fas fa-edit" (click)="edit(d.Course_ID)" data-toggle="modal"
                    data-target="#myModal1"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div (click)="CloseDilog()">
  <!-- Registered Employees
    <div *ngFor="let d of RegisteredEmployees">
      {{d.User_Name}}
    </div> -->
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#476b75; align-items: center;">
          <!-- <button type="button" class="close" style="float:right" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title" style="align-items:center;  font-weight: bold;">Registered Employees</h4>
        </div>
        <div class="modal-body" *ngIf="RegisteredEmployees!=null">
          Course Name : {{CourseName}}<br>
          Maximum Enrollment : {{MaxEnroll}}<br>
          Minimum Enrollment : {{ MiniumEnroll }}<br>
          Last Date To Enroll : {{ LastDate }}<br>
          Course Start Date : {{ FromDate }}<br>
          Course End Date : {{ ToDate }}<br>
          Venue: {{ Venue }}<br>
          Registered Employees:<br>
          <div *ngFor="let d of RegisteredEmployees" style="text-align:center">
            {{d.User_Name}}
          </div>
          <div class="modal-body" *ngIf="RegisteredEmployees==null">
            None of the employees have registered yet
          </div>

          <div class="modal-body" *ngIf="RegisteredEmployees==null">
            None of the employees have registered yet
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 