<div class="body">
  <img class="image" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1528826021109/?format=1500w">
  <div class="heading-primary">
    <span class="heading-primary-main">Accion Course Calendar</span>
    <!-- <span class="heading-primary-sub">Driving Outcomes Through Actions</span> -->
  </div>
  <div class="middlePage">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> Log in to accion courses</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="login">
            <h2> Employee! Login here </h2>
            <button class="loginBtn loginBtn--google" style=" align-items:center; margin-left: 52px;" (click)="socialSignIn('google')">
              Login with Google
            </button>
            <p>
            <a [routerLink]="['/admin']"><h4>Admin?</h4></a>
          
          </p>
          </div>

          <!-- <div class="col-md-7" style="border-left:1px solid;height:160px; letter-spacing: 1px;">
            <form class="form-horizontal">
              <h4>&nbsp;Admin login</h4>
              <fieldset>

                <input id="textinput" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md"
                  [(ngModel)]="User_Name">
                <br>
                <input id="textinput" name="textinput" type="password" placeholder="Enter Password" class="form-control input-md"
                  [(ngModel)]="Password">
                <br>
                <button id="singlebutton" name="singlebutton" class="btn btn-info btn-lg pull-center" (click)="AdminLogin()">
                  Log In</button>


              </fieldset>
            </form>
          </div> -->

        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="jumbotron bg-transparent text-center">
 <div *ngIf="!user" class="card text-center">
   <h6 class="card-header">
     Login 
   </h6>
   <div class="card-block">
     <h4 class="card-title">Not signed in</h4>
     <p class="card-text">Sign in with</p>
   </div>
   <div class="card-block">
     <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()">Google<span class="fa fa-google"></span></button>
  
   </div>
 </div> -->