<div class="wrapper">
    <div class="sidebar" data-image="../assets/img/sidebar-5.jpg" data-color="red"></div>
</div>


<!-- Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red" -->


<div *ngIf="!flag">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card1">
                        <div class="card-header ">
                            <h4 class="card-title" style="font-weight: bold;font-size: 20px;" >Todays Events</h4>

                            <p class="card-category"></p>
                        </div>
                        <div class="card-body " style="font-size: 18px">
                            <div id="chartPreferences" style="font-size: 18px"class="ct-chart ct-perfect-fourth" *ngIf="Todaydata.length>0">
                                <div *ngFor='let course of Todaydata'>
                                    <strong>Course Name : </strong>{{course.Course_Name}}<br>
                                    <strong>Description :</strong> {{course.Description}}<br>
                                    <strong> Duration :</strong> {{course.Duration}} Days<br><br>

                                </div>
                            </div>
                            <div *ngIf="Todaydata.length==0">
                                No Events Today

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title" style="font-weight: bold; font-size: 20px;">Registered Employees</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body ">
                            <div id="chartPreferences"style="font-size: 18px" class="ct-chart ct-perfect-fourth" *ngIf='show.length>0'>

                                <div *ngFor='let course of show'>
                                    {{course.User_Name}}<br>
                                </div>
                            </div>
                            <div *ngIf='show.length==0'>
                                No Employees Registered
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>