<nav
  class="navbar navbar-expand-lg "
  color-on-scroll="500"
  style="background: #293749; height: 80px; overflow: hidden;top:0; width: 87%;
margin-left: 193px;"
>
  <div class=" container-fluid  ">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul
        class="nav navbar-nav mr-auto"
        style="position:fixed; z-index: 9999999; right:53px;top:20px;"
      >
        <li></li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="{{ this.userurl }}"
          /></a>
          <ul
            class="dropdown-menu"
            style="font-family:Playfair Display, serif; font-size: 16px; width:fit-content; "
          >
            <li>&nbsp;&nbsp;{{ this.username }}</li>
            <li>{{ this.user }}</li>
            <li style="font-weight:bolder">
              <a role="button" (click)="signOut()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <!-- <span class="no-icon" style="font-weight:bold;" (click)="signOut()">Log out</span> -->
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <aside class="main_sidebar" style="background:#191b33; font-weight: bold;">
    <ul>
      <img
        class="image"
        src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1528826021109/?format=1500w"
      />
      <li role="button" (click)="toTable()">List of Courses</li>
      <li role="button" (click)="toCalendar()">Calendar View</li>
      <li role="button" (click)="toCourse()">Upcoming Courses</li>
    </ul>
  </aside>

  <div class="router-container"><router-outlet></router-outlet></div>
</div>
