<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <img src="{{ this.userurl }}" class="avatar">&nbsp;&nbsp;Hello&nbsp;-&nbsp;{{this.username}}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="no-icon" (click)="signOut()">LogOut</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <aside class="main_sidebar">
        <ul>
            <li role="button" (click)="toTable()">List of Courses</li>
            <li role="button" (click)="toCalendar()">Calendar View</li>
            <li role="button" (click)="toCourse()">Upcoming Courses</li>
        </ul>
    </aside>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

</div>
