<div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg" data-color="red">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
    
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        AccionLabs Calender
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p> Courses Attended </p>
                        </a>
                    </li>
    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
    
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">                        
                        <ul class="nav navbar-nav mr-auto">                     
                            <li class="nav-item">                           
                                    <img src="{{ this.userurl }}" class="avatar">&nbsp;&nbsp;Hello&nbsp;-&nbsp;{{this.username}}                                                      
                            </li>                       
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span class="no-icon" (click)="signOut()">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <br>
            <div class="wrapper">
                <ng-template #modalContent let-close="close">
                    <div class="modal-header">
                        <h5 class="modal-title">Courses</h5>
                        <button type="button" class="close" (click)="close()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            Course Name: {{modalData?.event.Course_Name}}<br>
                            Description: {{modalData?.event.Description}}<br>
                            Duration: {{modalData?.event.Duration}}<br>
                            FromDate: {{modalData?.event.FromDate }}<br>
                            ToDate: {{modalData?.event.ToDate }}<br>
                            Venue: {{modalData?.event.Venue}}<br>
                            Last_date_to_enroll:{{modalData?.event.Last_date_to_enroll}}<br>
                            Max_enroll: {{modalData?.event.Max_enroll}}<br>
                            Min_enroll: {{modalData?.event.Min_enroll}}<br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="wrap-box"> 
                            <span style="font-size: 2rem;" *ngIf='!res'>
                                <div *ngIf="!flag && !flag1">
                                    <i class="fas fa-calendar-plus" (click)="Register()"></i>
                                    <div style="font-size:10px;color:green">Register</div>
                                </div>
                                <div *ngIf="flag && !flag1" (click)="flag=0">
                                    <i class="far fa-calendar-minus" (click)="UnRegister()"></i>
                                    <div style="font-size:10px;color:red">UnRegister</div>
                                </div>
                                <div *ngIf='flag1'>
                                    Registration closed
                                </div>
                            </span>
                            <span style="font-size: 2rem;" *ngIf='res'>
                            <div *ngIf='res'>
                                Reson 
                                <input type="text" [(ngModel)]="reson">&nbsp;
                                <button type="button" class="btn btn-outline-secondary" (click)="UnRegister1()">Submit</button>
                            </div>
                            </span> 
                        </div>
                       &nbsp; <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                    </div>
                </ng-template>
    
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false">
                                Previous
                            </div>
                            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                Today
                            </div>
                            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false">
                                Next
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
                                Month
                            </div>
                            <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
                                Week
                            </div>
                            <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                                Day
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view>
                </div>
    
            </div>
    
                </div>
    </div>