.router-container{
  margin-left:210px;
}
ul.nav navbar-nav mr-auto{
  position: fixed;
  z-index: 9999999;
  right: 47px;
  top: 39px;

}
nav{
  overflow: hidden;
}
navbar navbar-expand-lg{
  background: #293749;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 83%;
    margin-left: 199px;
    /* z-index: 1; */
}
.navbar-nav>li>a{
  padding: 0%;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: transparent;
}
.nav>li>a>img{
  max-height:40px;
  max-width:40px;
  border-radius: 50%;
  }
  
body {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  background:#354545;
  overflow:hidden;
}
.main_sidebar {
  min-height:100vh;
  position:fixed;
  top:0;
  left:0;
  width:150px;
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: left, width;
  /* box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4); */
  background: #191b33;
}

.main_sidebar ul {
  list-style:none;
}
.main_sidebar ul li {
  padding:10px;
}
.main_sidebar ul li a {
  color:#fff;
  display:block;
}
.main_sidebar ul li i {
  float:left;
  color:grey;
  margin-left:-58px;
  font-size:24px;
  padding-left:7px;
}
.main_sidebar ul li:hover {
  background:#167696;
}
.main_sidebar ul li a:hover {
  color:#fff;
  text-decoration:none;
}
.main_sidebar ul li:hover i {
  color:#fff;
}
.main_sidebar ul li.active {
  background:#0f4698;
}
.main_sidebar ul li.active i {
  color:#fff;
}
.main_sidebar ul li.active:hover {
  background:#167696;
}
.main_sidebar ul li.active:hover i {
  color:#fff;
}

.main {
  float:right;
  color:#fff;
  display:block;
  width:100%;
  background:red;
  min-height:100vh;
}

body {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  background:#354545;
}
.main_sidebar {
  min-height:100vh;
  position:fixed;
  top:0;
  left:0;
  width:200px;
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: left, width;
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
  background: #293749;
}

.main_sidebar ul {
  list-style:none;
  padding: 0px;
}
.main_sidebar ul li {
  padding:10px;
}
.main_sidebar ul li  {
  color:lightgray;
  display:block;
  /* font-family: 'Roboto Slab', serif; */
  margin-top: 20px;
  font-size:14px;
  cursor: pointer;
  align-items: center;
  margin-left: 20px;
  background:#191b33;
  font-weight: bold;
  /* justify-content:flex-start; */

}
.main_sidebar ul li i {
  float:left;
  color:grey;
  margin-left:-58px;
  font-size:24px;
  padding-left:7px;
}
.main_sidebar ul li:hover {
  background:#167696;
}
.main_sidebar ul li a:hover {
  color:#fff;
  text-decoration:none;
}
.main_sidebar ul li:hover i {
  color:#fff;
}
.main_sidebar ul li.active {
  background:#0f4698;
}
.main_sidebar ul li.active i {
  color:#fff;
}
.main_sidebar ul li.active:hover {
  background:#167696;
}
.main_sidebar ul li.active:hover i {
  color:#fff;
}

.main {
  float:right;
  color:#fff;
  display:block;
  width:100%;
  background:red;
  min-height:100vh;
}

.nav-item{
  color:brown;
  
}
.no-icon:hover{
  cursor: -webkit-grab; cursor: grab; color: white;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
      -moz-transform: rotate(0deg);
  }
  to {
      -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
      -ms-transform: rotate(0deg);
  }
  to {
      -ms-transform: rotate(360deg);
  }
}



/* all icon font classes list here */
h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: auto;
   
    max-width: 100%;
    max-height: 100%;
   
  }
  .wrapper{
    padding: auto;
    max-width: 100%;
    max-height: 50%;
    overflow:initial;
    max-block-size: 85px;
  }
  .cal-days{
    max-block-size: 5px;
  }

  .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0%;
  }

  .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 165px;
}
.image{
  margin-top: 20px;
  width: 170px;
}



