/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { height: 100%;
    /* overflow:hidden; */
}
.modal-open .modal{
    opacity: 1 !important;
    width: 30%;
    position: absolute;
    left: 40%;
    top:15%;

  }

  
