 <!-- Modal content-->
      <div>
        <div>
          <h4 class="modal-title" style="align-items:center">Update Course</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="wrap-Update-course">
          <!-- Update Course -->
          <section class="wrap-create-course">
            <div class="form-group">
              <label for="pwd">Course Name</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter Course Name" aria-label="Input group example"
                aria-describedby="btnGroupAddon" [(ngModel)]="CourseName">
            </div>
            <div class="form-group">
              <label for="pwd">Select Trainer</label><br>
              <select (change)="filterForeCasts($event.target.value)">
                <option [selected]="Trainer.Trainer_ID === trainerid" [value]="Trainer.Trainer_ID" [ngValue]="trainerid" *ngFor="let Trainer of Trainers">{{Trainer.Trainer_Name}}</option>
              </select>
            </div>             
            <div class="form-group">
              <label for="pwd">FromDate</label>
              <input type="date" class="form-control" id="pwd" min="{{cur | date:'yyyy-MM-dd'}}" [(ngModel)]="FromDate"
                [value]="FromDate | date:'yyyy-MM-dd'">
            </div>
            <div class="form-group">
              <label for="pwd">ToDate</label>
              <input type="date" class="form-control" id="pwd" min="{{FromDate | date:'yyyy-MM-dd'}}" [value]="ToDate | date:'yyyy-MM-dd'"
                [(ngModel)]="ToDate">
            </div>
            <div class="form-group">
              <label for="pwd">Maximum Enrollment</label>
              <input type="number" min="1" step="1" class="form-control" id="pwd" placeholder="Enter MaxEnroll"
                aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="MaxEnroll">
            </div>
            <div class="form-group">
              <label for="pwd">Minimum Enrollment</label>
              <input type="number" min="1" step="1" class="form-control" placeholder="Enter Minimum Enroll" id="pwd"
                aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="MiniumEnroll">
            </div>
            <div class="form-group">
              <label for="pwd">LastDate To Enroll</label>
              <input type="date" class="form-control" id="pwd" [value]="LastDate | date:'yyyy-MM-dd'" [(ngModel)]="LastDate">

            </div>
            <div class="form-group">
              <label for="pwd">Venue</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter Venue" aria-label="Input group example"
                aria-describedby="btnGroupAddon" [(ngModel)]="Venue">
            </div><br>
            <div class="form-group">
              <label for="pwd">Description</label>
              <textarea class="form-control" rows="5" id="comment" [(ngModel)]="Discreption"></textarea>
              <!-- <input type="text" class="form-control" placeholder="Enter Discreption" aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="Discreption"> -->
              <!-- <input type="text area" class="form-control" id="pwd" [(ngModel)]="Discreption"> -->
            </div>
          </section>
          <div class="btn">
            <button type="button" class="btn btn-sm btn-primary btn-create" (click)="UpdateCourses()">Save</button>
          </div>
          <button type="button" class="btn btn-default"(click)="DisplayCourse()">Close</button>

        </div>

    